node_modules/
coverage/
.env
.env.*
!.env.example
*.log
.DS_Store
dist/
.sonar/
.terraform/
*.tfstate
*.tfstate.*
.terraform.tfstate.lock.info
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
